.contact {
    flex-direction: column;
  }
  .btn--outline {
    border: 2px solid yellow;
    color: yellow;            
    background-color: transparent; 
    padding: 10px 20px;        
    border-radius: 5px;        
    cursor: pointer;          
    text-decoration: none;     
  }
  
  .btn--outline:hover {
    background-color: yellow;
    color: black;             
  }
  